.app {
  width: 90%; margin: 0px auto;
}

.menu {
  display: flex; justify-content: space-between;
  margin-bottom: 10px;
}
.menu .login {
  display: flex; align-items: center; gap: 10px;
}
.menu Button {
  text-transform: none;
}
button{
  text-transform: none;
}

.page {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px;
}

.login {
  display: flex; flex-direction: column; gap: 15px;
  align-items: flex-start;
}
.login Button {
  text-transform: none;
  width: 100px;
}

.email {
  display: flex; gap: 15px; align-items: center;
}
.uzenet{
  display: flex;gap: 15px;
}
.menu .admin{
  margin-left: 10px;
}
li{
  margin-bottom: 5px;
}